@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates|Montserrat:300|Tomorrow&display=swap');
/* font-family: 'Montserrat', ;
font-family: 'Tomorrow', ;
font-family: 'Montserrat Alternates', ; */
:root {
  --bg-m-color: #f6f6f6;
  --f-m-c: #1b1c1f;
  --f-light: #2e2e2e;
  --f-link: #5669d3;
  --secondary: #1b1e1f;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--f-light);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--f-light);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--f-light);
}


::-moz-selection { /* Code for Firefox */
  color: var(--bg-m-color);
  background: var(--f-m-c);
}

::selection {
  color: var(--bg-m-color);
  background: var(--f-m-c);
}

* {
    padding: 0;
    margin: 0;
}
a {
  text-decoration: none;
  font-family: 'Montserrat';
  color: var(--f-m-c);
}
html {
  margin:    0 auto;
  max-width: 1900px;
}
body {
    margin: 0;
    padding: 0 20px;
    font-family: Montserrat;
    color: var(--f-m-c);
    background: var(--bg-m-color);
}
.pgHead {
  padding: 20px;
  text-shadow: 2px 2px 1px #213153;
}
#navbar {
  display: grid;
  min-height: 70px;
  grid-template-columns: 50% 50%; 
  grid-gap: 2px;
  padding: 25px 20px;
}

.logo {
  float: left;
  width: 35px;
  padding: 10px;
}
#logo {
  display: inline;
  font-size: 1.4em;
  font-family: Tomorrow;
}

#links {
  display: grid;
  justify-content: start;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 95px;
  font-size: 1.4em;
}
#links a:hover{
  text-decoration: underline;
}

/* #header */
#header {
  margin: 60px 10px;
  display: grid;
  grid-template-columns: 50% 50%;
}
.head_img {
  width: 70%;
  margin: 0 10%;
  box-shadow: 11px 11px var(--bg-m-color), 11px 11px 0px 5px #090511;
  margin-right: 10px ;
}
.disc {
  font-size: 1.5em;
  padding-left: 20px;
}
.disc h3 {
  font-size: 1.2em;
  font-style: bold;
  padding-bottom: 20px;

}

/* #Stock */
.stock {
  margin: 10% 30% ;
}
.stock input[type=text].ticker_ip {
  width: 100%;
  padding: 22px 40px;
  margin: 27px 0;
  box-sizing: border-box;
  border: 2px solid var(--f-light);
  box-shadow: 11px 11px var(--bg-m-color), 11px 11px 0px 2px #090511;
  font-size: 2em;
  background-color: var(--bg-m-color);
  color: var(--f-m-c);
}

.stock input[type=submit] {
  background-color: var(--secondary);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 6px 6px var(--bg-m-color), 6px 6px 0px 2px #090511;
  font-size: 16px;
}

.stock input[type=text]:hover {
  box-shadow: 5px 8px var(--bg-m-color), 5px 8px 0px 2px #090511;
  background: #efefef;
}
.stock input[type=text]:focus {
  box-shadow: 6px 6px var(--bg-m-color), 6px 6px 0px 2px #090511;
  background: var(--bg-m-color);
}

.stock input[type=submit]:hover {
  box-shadow: none;
  background: var(--bg-m-color);
  color: var(--f-m-c);
  border: 1px solid var(--f-light);
}

#img_m, #img_p {
  width: 45%;
}
