{% extends "layout.html" %}
{% block content %}

{% if table %}
<div class="attribute">
<h1>Table</h1>
    <div class="frame">{{ table|safe }}</div>
</div>
<div class="attribute">
<h2>Describe</h2>
    <div class="frame">{{ describe|safe }}</div>
</div>

<div class="attribute">
<h2>Null Value Analysis </h2>
    <div class="frame"> {{ nullAnal|safe }} </div>
</div>

<div class="attribute">
<h2>Correlation</h2>
    <div class="frame"> {{ corr|safe }} </div>
</div>


<div class="attribute">
<h2>Plots</h2>
{% include 'eda/plots.html' %}
</div>


{% else %}
<h1 class="pgHead">Exploratory Data Analysis</h1>
<h4>Upload CSV</h4>
<hr>
<form action="" method="POST" enctype="multipart/form-data">
    <label for="image">CSV File</label>
    <input type="file" name="csv" id="csv">
    <button type="submit">Upload</button>
</form>
{% endif %}

{% endblock content %}
