{% extends "layout.html" %}
{% block content %}

<div id="header">
    <img src="{{ url_for('static', filename='icons/stonk.jpg') }}" alt="" class="head_img">
    <div class="disc">
        <h3>Analysis Of Your Data</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta doloremque ut ipsam, quibusdam nostrum accusamus error! Fugiat, molestiae? Quisquam dolorem nihil ipsa qui impedit, amet ipsum totam cum. Facere, reprehenderit!
        </p>
    </div>
</div>

{% endblock content %}
