{% extends "layout.html" %}
{% block content %}

{% if data_m %}
<h1 class="pgHead"> {{ticker}} </h1>

<div class="content">
<div class="left">
    <img src="" id="img_m" alt="Chart">
    <h3>Moving Average</h3>
</div>

<div class="right">
    <img src="" id="img_p" alt="Chart">
    <h3>Prediction</h3>
    <div class="desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, minima exercitationem nulla deserunt nisi nihil optio provident suscipit! Dolor, autem! Molestiae eos totam aliquam optio ad nesciunt amet recusandae necessitatibus.
    </div>
</div>
</div>

<script>
    set_data("img_m", "{{data_m}}")
    set_data("img_p", "{{data_p}}")
</script>

{% else %}

<h1 class="pgHead">You Give We Pred.</h1>
<form action="" method="get" class="stock">
    <input type="text" name="ticker" class="ticker_ip" placeholder="Ticker eg: AAPL">
    <input type="submit" value="Submit">
</form>
{% endif %}
{% endblock content %}